@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  background-color: #612378;
}

html {
  font-size: 10px;
  font-family: "Chakra Petch", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

/* Header section */
.header {
  overflow: hidden;
  padding: 10px 10px;
  border: 1px solid white;
}

.header-right {
  float: right;
}

.header a {
  float: left;
  color: white;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-size: 20px;
  line-height: 6px;
  border-radius: 4px;
}

.header a:hover {
  text-decoration: underline;
}

/* @media screen and (max-width: 760px) {
  
} */
/* end of Header section */

/* Hero section */
#hero {
  margin-top: 30px;
  text-align: center;
  color: white;
  line-height: 1.6;
}
#hero h1 {
  font-weight: 300;
  font-size: 6rem;
}

#hero h2 {
  font-weight: 100;
  font-size: 3rem;
}

#hero .cta {
  font-weight: 100;
  font-size: 2rem;
  padding: 15px 50px;
  background-color: white;
  border: none;
  color: #612378;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin-top: 30px;
}
/* end of Hero section */

/* About section */
#about {
  display: flex;
  color: white;
  line-height: 1.6;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3rem;
}
#about .content {
  margin: 50px;
}
#about img {
  height: 400px;
  border: 3px solid white;
  margin: 50px;
}

#about h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 30px;
}

#about h2 {
  font-weight: 100;
  font-size: 3rem;
  line-break: auto;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column;
  }
  .about {
    margin: 1rem;
  }
  .about .content {
    order: 2;
  }
  .about .img {
    order: 1;
  }
}
/* end of About section */
/* Review section */
#review {
  color: white;
  text-align: center;
  justify-content: center;
  line-height: 1.6;
}

#review .comment {
  display: flex;
  justify-content: space-between;
  margin: 50px;
  align-items: center;
  text-align: center;
  flex-direction: row;
  flex-flow: row wrap;
}

#review .col {
  width: 400px;
}

#review h1 {
  font-weight: 300;
  font-size: 4rem;
}

#review h2 {
  font-weight: 100;
  font-size: 3rem;
  line-break: auto;
  line-height: 60px;
}

#review h3 {
  font-weight: 100;
  font-size: 2rem;
  line-break: auto;
}

#review img {
  width: 250px;
  border-radius: 100%;
  border: 3px solid white;
  margin-top: 50px;
  margin-bottom: 30px;
}
/* end of Review section */
/* location section */
#location {
  display: flex;
  color: white;
  line-height: 1.6;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 3rem;
}
#location .content {
  margin: 50px;
}
#location img {
  height: 400px;
  border: 3px solid white;
  margin: 50px;
}

#location h1 {
  font-weight: 300;
  font-size: 4rem;
  margin-bottom: 30px;
}

#location h2 {
  font-weight: 100;
  font-size: 3rem;
  line-break: auto;
}

#location p {
  font-weight: 100;
  font-size: 2rem;
  line-break: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

@media screen and (max-width: 760px) {
  .container {
    flex-direction: column;
  }
  .location {
    margin: 1rem;
  }
  .location .content {
    order: 1;
  }
  .location .img {
    order: 2;
  }
}
/* end of location section */